.board {
  background-color: #f4f7fd;
  display: flex;
  overflow-x: scroll;
  gap: 24px;
  padding: 24px 16px;
  padding-top: 88px;
}

.open-sidebar {
  margin-left: 261px;
}

.board-empty-text {
  text-align: center;
  color: #828fa3;
  margin-bottom: 25px;
}

.input-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.input-container input {
  height: 40px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid rgba(130, 143, 163, 0.8);
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
}

.cant-be-empty-span {
  position: absolute;
  color: #ea5555;
  top: 8px;
  right: 16px;
  width: fit-content;
  white-space: nowrap;
}

.red-border {
  border-color: #ea5555 !important;
}
